@charset "utf-8";
/* CSS Document */

body {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    min-width:600px;
}
h1, h2, h3, h4, h5, h6 {
    color: #033; margin:0px; padding:0px; font-weight:normal;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 24px;
    padding-bottom:10px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
:focus {
    outline: 0
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
/** html5 tags **/
article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a {
    color: #688dad;
    text-decoration: none;
}
a:hover {
    color: #ab4d63;
}

/** header **/
.logo{ display:block; float:left;}
h1.site-heading{margin:0px; padding:0px; font-size:25px; color:#009; float:right; font-weight:normal;}

/** main body **/
.main-bdybg{ background-color:#f4f5f9;}
.nav{ width:200px; float:left; background-color:#d1d3db; min-height:550px;}
.rightpenel{ margin-left:220px;}
.loginsec{ width:500px; border:1px solid #c5c5c5; display:table; margin:auto;}
.loginsec h3{ width:500px; background-color:#a7a7a7; color:#FFF; font-size:16px; text-align:left; position:relative; padding:5px;}
.loginmain{ width:400px; float:left; font-size:12px; color:#000; padding-left:50px; padding:20px 0px 20px 50px;}
.loginmain label{ width:400px; float:left; font-size:12px; color:#000;}
.loginmain input[type=text], input[type=password]{
    float:left;
    font-size:14px;
    background-color:#FFF;
    border:1px solid #ccc;
    padding:10px;
    font-size:12px;
    width:400px;

}
.loginmain input[type=image]{
    float:left;
    padding-top:10px;

}
.loginmain p{ float:left; width:500px; padding:10px 0px 0px 0px; margin:0px;}

/** clear **/
.c-both{ clear:both;}

/** footer **/
.foter-mn{ text-align:center; font-size:11px; color:#666;}

/** margin **/
.tpbt{ padding-bottom:10px;}


.error-message {color: red;}

#successMessage {
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

#failureMessage {
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}