body{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#000;}
#main_body{ min-height:400px;}

.white {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #B7E0FF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link1 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link1:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #B7E0FF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link2 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #F00;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link2:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #018AEF;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.link3 {
	FONT-FAMILY: Verdana;
	COLOR: #000;
	FONT-SIZE: 11px;
	text-decoration: none;
}
.link3:hover {
	FONT-FAMILY: Verdana;
	COLOR: #ff0000;
	FONT-SIZE: 11px;
	text-decoration: none;
}
.link4 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #F00;
	FONT-SIZE: 13px;
	text-decoration: none;
}
.link4:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #000;
	FONT-SIZE: 13px;
	text-decoration: none;
}
.link5 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #0000FF;
	FONT-SIZE: 11px;
	text-decoration: none;
}
.link5:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #000;
	FONT-SIZE: 11px;
	text-decoration: none;
}
.link6 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #29669A;
	FONT-SIZE: 11px;
	text-decoration: none;
}
.link6:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #000;
	FONT-SIZE: 11px;
	text-decoration: none;
}
.linkn8 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFFFFF;
	FONT-SIZE: 15px;
	text-decoration: none;
}
.normal {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #000;
	FONT-SIZE: 12px;
	text-decoration: none;
}
.linkn8:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFCC00;
	FONT-SIZE: 15px;
	text-decoration: none;
}
h4 {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #111;
	FONT-SIZE: 16px;
	text-decoration: none;
}
.test {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFFFFF;
	FONT-SIZE: 15px;
	text-decoration: none;
}
.test:hover {
	FONT-FAMILY: Trebuchet MS;
	COLOR: #FFFFFF;
	FONT-SIZE: 15px;
	text-decoration: none;
}
.bottom_link {
	font-family: Verdana;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}
.bottom_link:hover {
	font-family: Verdana;
	size: 11px;
	color: #fff;
}
.bdr {
	border:1px solid #a1a1a1;
}
.bdr:hover {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	border:1px solid #000;
}


/** 9-8-2013 **/
h1.heading{ font-size:25px; color:#145a9f; margin:0px; padding:0px; font-weight:normal;}
.breadcrum{ background-color:#dce8ff; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#717171; border-radius:5px; -moz-border-radius:5px; border:1px solid #cccccc; float:right;}
.breadcrum ul{ float:left; width:316px; margin:0px; padding:0px; list-style:none;}
.breadcrum ul li{ float:left; width:auto;}
.breadcrum ul li a{ float:left; display:block; color:#717171; text-decoration:none; line-height:25px; padding-left:4px;}
.breadcrum ul li a:hover{ float:left; display:block; color:#145ea5; text-decoration:none; line-height:25px; padding-left:4px;}



/** fonts **/
.black15{ font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#000; text-align:left;padding-bottom:5px;}
.grey15{ font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#7f7f7f;text-align:left;padding-bottom:5px;}
.grey12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7f7f7f;text-align:left; padding-bottom:5px;}
.red{ color:#F00;}



/** bgcolor **/
.greybg{ background-color:#fbfbfb;}

/** text boxes **/
.forgerttxt{ width:300px; padding:5px; border:1px solid #ccc; background-color:#FFF; margin-bottom:5px;}
.logintxt{ width:550px; padding:5px; border:1px solid #ccc; background-color:#FFF; margin-bottom:5px;}


/** border **/
.greyborder{ border:1px solid #cccccc;}

/** paddings **/
.paddingleft{ padding-left:10px;}

#successMessage {
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}

#failureMessage {
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

.error-message {color: red;}


.productmain{ width:200px; border:1px solid #CCC; float:left; padding:5px; margin-right:15px;}
/*.productmain:last-child{ width:200px; border:1px solid #CCC; float:left; padding:5px; margin-right:10px;}*/
.pro-img{width:196px; background-color:#FFF; float:left; text-align:center; min-height:70px; padding-top:5px; }
.pro-desc{width:196px; float:left; font-size:14px; color:#000; text-align: center;}
.pro-link{width:196px; float:left; font-size:12px; color:#000; text-align: center;}
.pro-link a{font-size:12px; color:#33F; text-decoration:none;}
.pro-link a:hover{text-decoration:underline;}
/** drop down **/
#sddm
{	margin: 0;
    padding: 0;
    z-index: 30; float:right;}

#sddm li
{	margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: bold 11px arial}

#sddm li a
{	display: block;
    margin: 0 1px 0 0;
    padding: 4px 10px;
    width: auto;
    background: #5970B2;
    color: #FFF;
    text-align: center;
    text-decoration: none}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #EAEBD8;
    border: 1px solid #5970B2; min-width:138px;}

#sddm div a
{	position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #EAEBD8;
    color: #2875DE;
    font: 11px arial}

#sddm div a:hover
{	background: #49A3FF;
    color: #FFF}


/** 9-12-2013 **/
ul.searcherfor{ width:200px; float:left; margin:0px; padding:0px; list-style:none;}
ul.searcherfor li{ width:200px; float:left; margin:0px; padding:0px;}
ul.searcherfor li a{ width:195px; float:left; display:block; background-image:url(../img/1378943255_cross.gif); background-position:right; background-repeat:no-repeat; padding-right:5px; text-decoration:none; margin-bottom:5px; border-bottom:1px solid #ccc; font-size:12px; color:#000;}
ul.searcherfor li a:hover{ background-color:#CCC;}

.prodtc{ float:left; font-size:12px; color:#666; margin-top:5px; margin-bottom:10px; width:686px; border-bottom:1px solid #ccc; padding-bottom:10px;}
.prodtb{ font-size:12px; color:#666;}
.prodtb img{ float:left; border:1px solid #ccc; margin:0px 5px 5px 0px;}
.prodtb p{ margin:0px; padding:0px; font-size:12px; float:left; width:400px;}
.pdets{ font-size:12px !important; font-family:Arial, Helvetica, sans-serif;}
.txtsm{width:50px;}
.hdings{ font-size:14px; color:#333;}
.cpaneluser{ float:right;}
.cpaneluser span.userpic{ float:left; width:29px; height:29px;}
.cpaneluser span.welcomn{ float:left; width:auto; padding-left:5px; padding-right:20px;line-height:21px; cursor:pointer; font-size: 16px;}


/** 9-19-2013 **/
table.altrowstable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #a9c6c9;
    border-collapse: collapse;
}
table.altrowstable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
    background-color:#d1e5fe;
}
table.altrowstable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.oddrowcolor{
    background-color:#ffffff;
}
.evenrowcolor{
    background-color:#e4f0ff;
}
.leftnavheading{ background-color:#155fa8; padding:5px 0px 5px 3px; color:#FFF; font-size:13px; border-radius:5px; -moz-border-radius:5px;}
.registerheading{ background-color:#c0c0c0; padding:7px 0px 6px 9px; color:#000; font-size:13px; border-radius:5px; -moz-border-radius:5px; font-weight: bold}
.paddingleft1{ padding-left:1px;}
.smaltxt{ width:50px;}
.submit_b {
    padding: 5px 9px;
    background: #4c8ffc;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #4383ea;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
}
.submit_b:hover, .submit_b:focus {
    background: #3973d2;
    border: solid 1px #3973d2;
    text-decoration: none;
}


.atc_b {
    padding: 5px 9px;
    background: #ec630f;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #dc5d0f;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
}
.atc_b:hover, .atc_b:focus {
    background: #dc5d0f;
    border: solid 1px #dc5d0f;
    text-decoration: none;
}


.speci {
    padding: 5px 9px;
    background: #1f7ad5;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #196ec3;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
}
.speci:hover, .speci:focus {
    background: #196ec3;
    border: solid 1px #196ec3;
    text-decoration: none;
}
.btnsd{ margin:0px; padding:0px 0px 5px 0px;}
.icssd{ margin:0px; padding:0px 5px 0px 0px; float:left;}

/** 9-21-2013 **/
.bdertp{ border-top:1px solid #666;}
.black12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-decoration:none;}
.blue12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#729DCA; text-decoration:none;}
.blue12:hover{text-decoration:underline;}
.red12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#C30; text-decoration:none;}
.red12:hover{ text-decoration:underline;}
.ara{ width:100px;}

p.nrm{ padding:0px; margin:0px;}

.greenb {
    padding: 5px 9px;
    background: #6cbe49;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #57a436;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor:pointer;
}
.greenb:hover, .greenb:focus {
    background: #57a436;
    border: solid 1px #57a436;
    text-decoration: none;
}

table.altrowstable1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#333333;
    border-collapse: collapse;
    text-align:center;
}
table.altrowstable1 th {
    padding: 8px;
    background-color:#006699;
    color:#FFF;
}
table.altrowstable1 td {
    padding: 8px;
    border-bottom:1px solid #ccc;
}
.oddrowcolorr{
    background-color:#ededed;
}
.evenrowcolorr{
    background-color:#fff;
}

.bg_header
{
    background:url("../img/topbtnsbg.jpg") repeat-x;
}

.bg_header1
{
    background:url("../img/under-topbtnbg.jpg") repeat-x;
}

.bg_footer
{
    background:url("../img/bottom-gradient.jpg") repeat-x;
}

.bg_left
{
    background:url("../img/leftbar.jpg") repeat-y;
}

.bg_right
{
    background:url("../img/rightbar.jpg") repeat-y;
}


/** 9-30-2013 **/
.pickup{ padding:8px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none; background-color:#0099CC; font-size:13px; border-radius:5px;}
.pickup:hover{background-color:#008fbf; }
.dlivery{ padding:8px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none; background-color:#3366CC; font-size:13px;border-radius:5px;}
.dlivery:hover{background-color:#2958b7; }
.paynow{ padding:10px; font-family:Arial, Helvetica, sans-serif; color:#FFF; text-decoration:none; background-color:#ec630f; font-size:15px; border-radius:5px;}

.flbtm{ border:1px solid #ccc; padding:15px;}
.bdrbtm{ border-bottom:1px solid #ccc;}
.bgtoto{ background-color:#CCCC99; padding:5px;}
.wite15{ color:#FFF;}
.cursor{ cursor:pointer;}
.dnone{ display:none;}

/** Drop Downs **/
.width200{ width:200px !important; }